.shadow {
  transition: 0.5s;
  padding: 3rem;
  filter: drop-shadow(1px 1px 1px rgba(150, 111, 40, 0.747));
  filter: opacity(75%);
}

.shadow:hover{
  transition: 0.5s;
  filter: drop-shadow(0px 0px 1px rgba(187, 132, 31, 0.856));
  filter: contrast(100%);

}

a{
  color: black;
  text-decoration: none;
}

a:hover{
  transition: 0.5s;
  text-decoration: underline;
}

@media (min-width: 576px) and (max-width: 767px) {
  .remove-576-767 {
      display: none !important;
  }
}