<div class="container mt-5 mb-5">
  <div class="row mb-5">
    <div class="col-md-6 mt-5">
      <h1>
        Leve o que for necessário para <strong>qualquer lugar</strong> do país
      </h1>
      <h3 class="mt-5">
        Em prazos de 48, 24 e 12 horas seu material estará <span  style="text-decoration: underline;">entregue!</span>
      </h3>
    </div>
    <div class="col-md-6">
        <img src="../../../assets/images/airplanebg.jpg" class="img-fluid shadow" alt="" style="width: 100%;">
    </div>
  </div>
  <hr class="mt-5 mb-5" style="color: #fa9f294f;">
  <div class="row mt-5">
    <div class="col-md-12 d-flex justify-content-center">
      <h3 class="mt-5">
        Entenda como é realizado nosso transporte:
      </h3>
    </div>
  </div>
  <div class="row mt-5 d-flex justify-content-center">
    
      <div class="col-md-4">
        <p class="text-center">
          Serialização
        </p>
        <img src="../../../assets/images/serializacao.jpeg" class="img-fluid shadow" alt="" style="width: 100%;">
    </div>
    <div class="col-md-4">
      <p class="text-center">
        Embarque
      </p>
      <img src="../../../assets/images/airplane.jpeg" class="img-fluid shadow" alt="" style="width: 100%;">
    </div>
    <div class="col-md-4">
      <p class="text-center">
        Despacho
      </p>
    <img src="../../../assets/images/despacho.jpeg" class="img-fluid shadow" alt="" style="width: 100%;">
    </div>
  </div>
</div>
