<div class="container mt-5">
  <div class="row align-items-center">
    <div class="col-md-6">
      <h1>
        Leve o que for necessário para <strong>qualquer lugar</strong> do país
      </h1>
      <h3 class="mt-5">
        Em prazos de 48, 24 e 12 horas seu material estará <span  style="text-decoration: underline;">entregue!</span>
      </h3>
    </div>
    <div class="col-md-6">
        <img src="../../../assets/images/airplanebg.jpg" class="p-5 img-fluid shadow" alt="" style="width: 100%;">
    </div>
  </div>
</div>
