.border-budget{
    border-radius: 15px;
    border: 1px solid #f7a3366c;
    padding: 20px;
    width: 800px;
    height: 400px;
    background-color: #fbbf70;
  }

.border-budgetSearch{
    padding: 20px;
    width: 750px;
    height: 200px;
    background-color: #fbbf70;
}

.card-btn{
  margin: 1rem;
}
