<div class="container d-flex justify-content-center">
    <div class="border-budget mt-5">
      <div class="row text-center mb-2">
        <div class="col-md-12">
          <p class="texto-primary h1 misobold">
            Entrar
          </p>
        </div>
      </div>
      <form>
        <div class="row mt-4">
          <div class="col-md-12">
            <div class="form-floating">
              <input type="email" class="form-control" id="email"
              placeholder="exemplo@exemplo.com">
            <label for="email" class="form-label">E-mail</label>
            </div>
          </div>
          <div class="col-md-12 mt-3">
            <div class="form-floating">
              <input type="password" class="form-control" id="password"
            placeholder="Senha">
            <label for="password" class="form-label">Senha</label>
            </div>
          </div>
        </div>
        <div class="row justify-content-center mt-5 pt-3">
            <button type="submit" class="btn btn-primary">E N T R A R</button>
        </div>
      </form>
  </div>
</div>

