.background{
  background-color: #fbaf4ccb;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.border-budget{
  border-radius: 15px;
  border: 1px solid #f7a3366c;
  padding: 20px;
  background-color: #fbbf70;
}